.main {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.profile_banner {
  box-sizing: border-box;
  border: 1px solid black;
  padding:2em;
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 2em;
  position:relative;
  overflow: hidden;
  align-items:flex-end;
  display: grid;
  grid-template-columns: 1fr 2fr ;

}

.profile_picture{
border-radius: 50%;
box-shadow: 2px;
}

.my_products_container {
    width:auto;
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-radius: 1em;
    border: 1px solid rgba(63,0,183,0.85);
    text-align: center;

}

.my_products_info {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
}


.product_img{
  border-radius: 1em;
}

.products_list_profile {
    display: grid;
    grid-template-areas:auto;
    text-align: center;
}

img{
  border-radius: 1em;
  width: 200px;
}

.product_square{
  box-sizing: border-box;
  padding: 10px;
}

.quote_heading{
  color: rgba(63,0,183,0.85)
}

.quote_origin{
  text-align: right;
}

p.right_text{
  padding-bottom:2em;
}
