a {
    text-decoration: none;
    font-weight: 400;
}
.banner{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(248deg, rgba(2,0,36,1) 0%, rgba(63,0,183,0.85) 35%, rgba(0,28,183,0.85) 100%);
    text-align: center;
    margin-bottom: 4em;
    height: 300px;
    border-radius: 1em;
    z-index: 1;
}

.welcome{
    position: relative;
    top: 1.6em;
    font-weight: 300;
    font-size: 3.6em;
    color:rgba(255, 255, 255, 1);
  }

.round-image{
    height: 7em;
    width: 7em;
    border-radius: 50%;
}

.categories_container ul {
    position: relative;
    bottom: -10em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1em;
    gap: 1em;
    justify-content: center;
    text-align: center;
}

.categories_container li {
    list-style: none;
}

.categories_container li:hover {
    transform: scale(1.15);
    transition: 220ms ease-in-out;
}


.categories_container p {
    font-size: 1em;
    font-weight: 400;
}


.img_banner{
    display: flex;
    object-fit: unset;
    height: auto;
    width: 44%;
    margin-bottom: 12px;
    border-radius: 2px;
}

.down_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6em;

}

.down_banner_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:46%
}

.left_title{
    color:rgb(167, 164, 164)
}

.left_sub_title{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1.4em;
}

.left_content{
    letter-spacing: 1.6px;
    font-size: 1.1em;
    padding-bottom: 1.2em;
}

.banner_button{
    width: fit-content;
    align-self: flex-start;
    padding: 1.1em;
    border:none;
    background-color: rgb(250, 193, 4);
}

.btn_link{
    text-decoration: none;
    color:black;
    font-size: larger;
}

.username_link{
    text-decoration:none;
    font-weight: 400;
    color: white;
}

.username_link:hover{
    font-weight:600;
}

.username_link:visited{
    color: white;
}

.products_container1 {
    width:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-radius: 1em;
    border: 1px solid rgba(63,0,183,0.85);
    text-align: center;
    margin-bottom: -250px;
}

.products_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.product_image img{
    border-radius: 2em;
    object-fit: contain;
}
.single_product{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2em;
}
 .products_container1 h2{
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 1em;
    color: rgb(63,0,183);
 }
