.review-form {
    background-color: white;
    border-radius: 5px;
}

.review-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: rgba(0, 28, 183, 0.75);
}

.rev-input-container {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
}

.rev-input-container > * {
    margin: 4px 10px;
}

.rev-input-container select {
    margin: 5px 10px;
}

.rev-textarea {
    padding: 10px;
    margin-top: 3px;
    height: 70px;
    font-family: 'Exo 2', sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(92, 92, 92, 0.7);
}

.rev-submit {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 0.8em;
    border: none;
    align-self: center;
    background-color: rgba(0, 28, 183, 0.8);
    color:white;
    padding: 7px;
    margin-top: 20px;
}

.rev-submit:hover {
    cursor: pointer;
    background-color: rgba(0, 28, 183, 1);
    color: white;
}

.rev-submit:disabled {
    cursor: auto;
    background-color: white;
    color: #6e6b724f;
    opacity:1;
}

.review-user {
    color:rgba(0, 28, 183, 0.75);
    margin: 5px 7px 0px 0px;
}

.reviews-content {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 500px;
}

.rev-user-name-date {
    font-size: .85rem;
    display:flex;
    align-items: center;
}

.date {
    margin-left: 15px;
    font-size: .75rem;
    color: #595959;
}

.rev-comment-container {
    margin-left: 30px;
    font-size: 0.9em
}

.rev-button-container > button {
    margin: 5px 10px 0px 0px;
    font-size: .70rem;
}

.rev-button-container > button:hover {
    color:rgba(63, 0, 183, 0.55);
    cursor: pointer;
}

.rev-write-button {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 0.75em;
    border: none;
    align-self: center;
    background-color: #f1641ec7;
    color:white;
    padding: 6px;
    margin: 20px 0px 20px 10px;
}

.rev-write-button:hover {
    background-color: #f1641ee7;
    color: white
}
